/* nsa server example config */
module.exports = {

	/* web interface, listening on socket, (--web on command line) */
	web: "unix:/tmp/nsa-server.sock?mode=0777&status=true",

	/* web interface, http server, (--web on command line) */
	web: "http://127.0.0.1:46001/?status=true",
	
	/* listening interfaces, (--listen on command line) */
	listen: [
		"udp4:127.0.0.1:46002",
		"udp6:[::1]:46002"
	],
	
	/* show output on console, (-v on command line) */
	info: true,
	
	/* show debug messages, (-vv on command line) */
	debug: true
	
};