html, body {
	height: 100%;
}

body {
	display: block;
	position: relative;
	margin: 0px;
	padding: 0px;
	background: #31363b url(../images/concrete_wall.png) top left repeat;
	font-family: "Source Sans Pro", sans-serif;
	overflow: hidden;
}

	#alert {
		
		display: none;
		position: fixed;
		margin: 0px;
		padding: 10%;
		background-color: #e94f03;
		left: 0px;
		right: 0px;
		top: 25%;
		bottom: 25%;
		text-align: center;
		color: #fff;
		font-size: 5em;
		opacity: 0.8;
		text-transform: uppercase;
		text-shadow: 0px 0px 20px rgba(0,0,0,0.3);
		box-shadow: 0px 0px 50px rgba(0,0,0,0.5);
		
	}

	/*
	
		blue: #0a89d6;
		green: #419606;
		red: #e94f03;
		yellow: #d19215;
		pink: #ff2082;
	
	*/

	#grid {
		height: 100%;
		width:  100%;
	}
	
		#grid .item {
			display: block;
			position: absolute;
			background-color: #111111;
			opacity: 0.3;
			color: #fff;
			text-shadow: 0px 0px 5px rgba(0,0,0,0.3);
			transition-property: background-color, opacity, transform;
			transition-duration: 0.5s;
			
			-webkit-transform-origin: 0 0;
			        transform-origin: 0 0;

			box-shadow: 0 0 10px rgba(0,0,0,0.5);
		}
		
		#grid .item.active {
			background-color: #419606;
			opacity: 1.0;
		}

		#grid .item.inactive {
			background-color: #e94f03;
			opacity: 1.0;
		}
		
		#grid .item.info {
			background-color: #0a89d6 !important;
			opacity: 1.0;
		}
		
		#grid .item.hidden {
			opacity: 0.0 !important;
		}
		
		#grid .item h1 {
			
			display: block;
			position: absolute;
			left: 0px;
			right: 0px;
			top: 0px;
			
			min-height: 30px;
			line-height: 30px;
			margin: 0px;
			padding: 20px 15px 15px;
			font-size: 1.6em;
			font-family: "Source Sans Pro", fixed;
			font-weight: 400;
			
		}
		
			#grid .item h1 .service {
				
				color: #fff;
				font-size: 1.4em;
				float: left;
				
			}

			#grid .item h1 .node {
				
				font-size: 1em;
				color: #fff;
				font-weight: 300;
				float: left;
				
			}
			
				#grid .item h1 .node:before {
					content: "@";
				}
				
		#grid .item ul {
			
			display: block;
			position: absolute;
			bottom: 10px;
			left: 0px;
			right: 0px;
			list-style: none;
			margin: 0px;
			padding: 0px;
			height: 50px;
			border-radius: 10px;
			margin-top: 10px;

		}

			#grid .item ul li {

				display: block;
				position: relative;
				list-style: none;
				margin: 0px;
				padding: 0px;
				height: 50px;
				width: 25%;
				float: left;
				
			}

				#grid .item ul li span {
					
					display: block;
					position: absolute;
					left: 0px;
					bottom: 0px;
					right: 0px;
					text-align: center;
					height: 20px;
					line-height: 20px;
					text-transform: lowercase;
					font-size: .75em;
					font-weight: 300;
					color: #fff;
					
				}
				
				#grid .item ul li strong {
					
					display: block;
					position: relative;
					text-align: center;
					height: 30px;
					line-height: 40px;
					text-transform: lowercase;
					font-size: 1.6em;
					padding: 0px 10px;
					font-weight: 300;
					
				}
		
		
		
		
.clearfix:before,
.clearfix:after {
	display: table;
	clear: both;
	content: " ";
}


table, table td {
	border: 1px solid #fff;
}

.notransition {
	-webkit-transition: none !important;
	-moz-transition: none !important;
	-o-transition: none !important;
	-ms-transition: none !important;
	transition: none !important;
}
